/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    /*debug*/
    background-color: darkgoldenrod;
}

header {
    /*debug*/
    /*background-color: darkred;*/
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /*debug*/
    /* background-color: coral;*/
}


/* HEADER */

.main-header {
    display: flex;
    /*debug*/
    /*background-color: dodgerblue;*/
}

.left-side {
    width: 35%;
    /* debug*/
    background-color: black;
    height: 1000px;
}

.right-side {
    width: 65%;
    color: white;
    /* debug*/
    /*background-color: lightskyblue;*/
    background-image: url(../img/slider52x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px 0;
    height: 1000px;
}

.box-logo {
    margin: 40px 0 0 40px;

}

.box-menu {
    text-align: right;
    margin: 50px 40px 0 0;
}





/* MAIN */

/* FOOTER */