/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, list {
    list-style-type: none;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    /*debug*/
    background-color: black;
}

header {
    /*debug*/
    /*background-color: darkred;*/
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    /*debug*/
    /* background-color: coral;*/
}


/* HEADER */


header {
    background-image: url(../img/slider52x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 550px;
    /* debug*/
    /*background-color: lightskyblue;*/
    min-height: 1050px;
}

main {
    /* debug*/
    background-color: white;

}

/* TOP HEADER */

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
    padding-bottom: 30px;
    /*debug*/
    /*background-color: yellowgreen;*/
}

.top-header .box-ham-menu i{
    color: white;
    font-size: 25px;
}


/* BOTTOM HEADER */

.bottom-header {
    display: flex;
    justify-content: space-between;
    /*debug*/
    /*background-color: dodgerblue;*/
}
.bottom-header .box-logo {
    /*debug*/
    background-color: lightgreen;
}

.bottom-header .box-menu {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    /*debug*/
    /*background-color: lightpink;*/
}

.bottom-header .box-menu .ham-menu {
    /*debug*/
    /*background-color: lightpink;*/
}

.bottom-header .box-menu .ham-menu p {
    text-align: right;
    /*debug*/
    /*background-color: lightpink;*/
}

.bottom-header .box-menu .ham-menu ul {
    height: 300px;
    overflow: scroll;
    /*debug*/
    background-color: #3a3a3a; /* grigio */
}

.bottom-header .box-menu .ham-menu ul li {
    padding: 15px 0 15px 25px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    /*debug*/
    /*background-color: yellow;*/
}

.bottom-header .box-menu .ham-menu ul li:first-child {
    /*debug*/
    background-color: #967b43; /* oro */
}


/* jumbo header sx */

.box-title {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    /*debug*/
    /*background-color: orange;*/
}

.box-top-title {
    display: flex;
    justify-content: left;
    align-items: baseline;
    /*debug*/
    /*background-color: lightgreen;*/
}

.box-bottom-title {
    display: flex;
    justify-content: left;
    margin-left: 75px;
    margin-top: 50px;
    /*debug*/
    /*background-color: lightpink;*/
}

.box-top-title .text-title p, .box-bottom-title .text-jumbo p {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.box-top-title .text-title p{
    margin-left: 35px;
    font-size: 16px;
}

.box-bottom-title .text-jumbo p {
    font-size: 75px;
}

.linea {
    border-top: 1px solid white;
    width: 40px;
}


.box-subtitle {
    margin-left: 75px;
    width: 360px;
}

.box-subtitle p{
    color:white;
    text-align: left;
    font-size: 22px;
}

.box-btn button{
    margin: 75px 0 80px 75px;
    padding: 10px 30px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}


/* HOVER HEADER */

.bottom-header .box-menu .ham-menu ul li:hover {
    /*debug*/
    background-color: #967b43; /* oro */
}

.box-bottom-title .text-jumbo p span:hover {
    text-decoration: underline;
}

.box-btn button:hover {
    background-color: white;
    color: black
}


/* MAIN */


/* sezione 1 */

.main-row-1 {
    /*debug*/
    /*background-color: orange;*/
    /*height: 300px;*/
}

.row-interna {
    /*debug*/
    background-color: lightpink;
}



/* FOOTER */

footer {
    font-family: 'Lora', serif;
}

/* TOP FOOTER */

.top-footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/footer2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    /*debug*/
    /*background-color: orange;*/
}

footer .top-footer .box-icons {
    margin-bottom: 30px;
    /*debug*/
    /*background-color: lightblue;*/
}

footer .top-footer .box-icons ul li {
    /*debug*/
    background-color: white;
}

footer .top-footer .box-icons img {
    padding: 0 10px;
}

.box-logo-footer {
    margin-top: 30px;
    /*debug*/
    /*background-color: lightpink;*/

}

.box-text-footer {
    width: 45%;
    text-align: center;
    font-size: 19px;
    color: white;
    /*debug*/
    /*background-color: lightgreen;*/
}

.left-1 {
    display: flex;
    flex-direction: column;
    /*debug*/
    background-color: lightskyblue;

}

.right-1 {
    /*debug*/
    background-color: lightsalmon;

}


/* BOTTOM FOOTER */

footer .bottom-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    /*debug*/
    background-color: black;
}

footer .bottom-footer .copy {
    font-size: 12px;
    color: #707070;
}

footer .bottom-footer .copy span {
    color: white;
}