/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, list {
    list-style-type: none;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    /*debug*/
    /*background-color: black;*/
}

header {
    position: relative;
    /*debug*/
    /*background-color: darkred;*/
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    /*debug*/
    /* background-color: coral;*/
}

/* FONT */

footer, .section-1 .title-left-1 p, .box-subtitle p, .text-left-1 p {
    font-family: 'Lora', serif;

}

.section-1 .subtitle-left-1 p {
    font-family: 'Bebas Neue', cursive;
}


/* HEADER */

.nav-box {
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 40px;
    right: 50px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px;
    /*debug*/
   /* background-color: darkolivegreen;*/
}

.nav-box .box-menu i {
    color: white;
    font-size: 25px;
}

/* HAMBURGER MENU */

.ham-menu {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 1;
    width: 100%;
    /*debug*/
    /*background-color: lightpink;*/
}

.ham-menu p {
    text-align: right;
    /*debug*/
    /*background-color: lightpink;*/
}

.ham-menu ul {
    height: 300px;
    overflow: scroll;
    /*debug*/
    background-color: #3a3a3a; /* grigio */
}

.ham-menu ul li {
    padding: 15px 0 15px 25px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    /*debug*/
    /*background-color: yellow;*/
}

.ham-menu ul li:first-child {
    /*debug*/
    background-color: #967b43; /* oro */
}


.box-jumbo {
    display: flex;
    position: relative;
}

.left-jumbo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    /*debug*/
    background-color: black;
}

.right-jumbo {
    background-image: url(../img/slider52x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /*debug*/
    /*background-color: lightskyblue;*/
}

/*  PROPRIETA' JUMBO */

.box-title {
    display: flex;
    flex-direction: column;
    margin-top: 320px;
    margin-left: 40px;
    /*debug*/
    /*background-color: orange;*/
}

.box-top-title {
    display: flex;
    justify-content: left;
    align-items: baseline;
    /*debug*/
    /*background-color: lightgreen;*/
}

.box-bottom-title {
    display: flex;
    justify-content: left;
    margin-left: 75px;
    margin-top: 50px;
    /*debug*/
    /*background-color: lightpink;*/
}

.box-top-title .text-title p, .box-bottom-title .text-jumbo p {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.box-top-title .text-title p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-left: 35px;
    font-size: 16px;
}

.box-bottom-title .text-jumbo p {
    font-size: 75px;
}

.linea {
    border-top: 1px solid white;
    width: 40px;
}

.box-subtitle {
    margin-left: 75px;
    width: 320px;
}

.box-subtitle p {
    color:white;
    text-align: left;
    font-size: 22px;
}

.box-btn button{
    font-family: 'Work Sans', sans-serif;
    margin: 75px 0 80px 75px;
    padding: 10px 30px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}


/* HOVER HEADER */

.bottom-header .box-menu .ham-menu ul li:hover {
    /*debug*/
    background-color: #967b43; /* oro */
}

.box-bottom-title .text-jumbo p span:hover {
    text-decoration: underline;
}

.box-btn button:hover {
    background-color: white;
    color: black
}


/* MAIN */


/* sezione 1 */

.section-1 {
    margin-top: 100px;
}

.section-1 .left-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 .right-1 {
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
}

.section-1 .title-left-1 {
    width: 400px;
}

.section-1 .title-left-1 p {
    font-size: 22px;
}

.section-1 .subtitle-left-1 p {
    font-size: 75px;
    width: 400px;
}

.right-1 img {
    width: 100%;
    /*debug*/
    /*background-color: lightsalmon;*/
}

/* sezione 2 */

.section-2 {
    margin-top: 100px;
}

.box-cards {
    display: flex;
    justify-content: space-around;

}


.box-card img {
    width: 120px;
    margin-bottom: 20px;

}

.section-2 .box-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    /*debug*/
    background-color: lightgreen;
}



/* FOOTER */


/* TOP FOOTER */

.top-footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/footer2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    /*debug*/
    /*background-color: orange;*/
}

footer .top-footer .box-icons {
    margin-bottom: 30px;
    /*debug*/
    /*background-color: lightblue;*/
}

footer .top-footer .box-icons ul li {
    /*debug*/
    background-color: white;
}

footer .top-footer .box-icons img {
    padding: 0 10px;
}

.box-logo-footer {
    margin-top: 30px;
    /*debug*/
    /*background-color: lightpink;*/

}

.box-text-footer {
    width: 45%;
    text-align: center;
    font-size: 19px;
    color: white;
    /*debug*/
    /*background-color: lightgreen;*/
}

/* BOTTOM FOOTER */

footer .bottom-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    /*debug*/
    background-color: black;
}

footer .bottom-footer .copy {
    font-size: 12px;
    color: #707070;
}

footer .bottom-footer .copy span {
    color: white;
}